<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context" 
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xmlns:mvc="http://www.springframework.org/schema/mvc"  
    xsi:schemaLocation="  
        http://www.springframework.org/schema/beans  
        http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://www.springframework.org/schema/context   
        http://www.springframework.org/schema/context/spring-context.xsd  
        http://www.springframework.org/schema/mvc  
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- 启动注解 -->
	<mvc:annotation-driven/>
	
	<!-- 扫描包路径 -->
	<context:component-scan base-package="com.ldgx.eshop"/>
	
	<!-- <mvc:default-servlet-handler /> -->
	
	<!-- xml使用 / 拦截了所有的请求，会影响到静态资源文件的获取,页面上引用的css，js等效果不起作用了,所以要启用 静态资源访问 -->
	<mvc:resources location="/static/" mapping="/static/**"></mvc:resources>
	
	<!-- 视图解析器,负责jsp页面,必须放在最后面 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" /> 
		<property name="prefix" value="/WEB-INF/jsps/"></property>
		<property name="suffix" value=".jsp"></property>		
	</bean>
	
	
    
	
 </beans>